* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 700px;
  margin: 50px auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}

input {
  padding: 10px;
  flex: 1;
}

button {
  padding: 10px 15px;
  cursor: pointer;
}

.expense-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 12px;
  margin-bottom: 10px;

  border: 1px solid #ddd;
}